* {
    font-family: "Poppins";
    font-size: 30px;
}

.image-upload-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.upload-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b8c9b2;
    color: #394d3d;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 30%;
}

.image-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #394d3d;
    width: 75%;
    height: 403.2px;
    margin: 15px;
    border-radius: 20px;
}

.image-with-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b8c9b2;
    width: 30%;
    border-radius: 20px;
    padding-top: 15px;
}

.uploaded-image {
    width: 100%;
    height: 100%;
}

.upload-image {
    border: 2px solid #394d3d;
    background-color: #394d3d;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.uploaded-image {
    border-radius: 20px;
}

.edit-form-upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    width: 75%;
}

input {
    display: none;
    width: 100px;
    border-radius: 20px;
    background-color: #394d3d;
}

.upload-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #394d3d;
    border-radius: 50%;
    color: white;
    margin: 10px;
    margin-right: 40px;
    /* margin-bottom: 25px; */
}



input[type='file'] {
    color: transparent;
}

.green {
    background-color: #394d3d;
}

.black {
    background-color: #666d66;

}

.yellow {
    background-color: #F1E5A4;
}

.blue {
    background-color: #AEBFD2;

}

.button:hover {
    box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.5);
}

.button:active {
    box-shadow: 0px 1.25px 2.5px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}